.movie-card {
    display: flex;
    flex-direction: column;
    width: 200px;
    color: var(--text-color);
    white-space: nowrap;
    position: relative;
}

.movie-card-poster {
    height: 300px;
    margin-bottom: 10px;
}

.movie-card-poster  img {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 50px;
}

.movie-card-title {
    font-weight: 600;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.movie-card-badge {
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--main-color);

}

.movie-card-vote {
    color: var(--text-color);
    position: absolute;
    bottom: 100px;
    right: -20px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 2px solid var(--main-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    background: -webkit-linear-gradient(135deg, rgb(249, 180, 15) 43%, rgb(219, 232, 223) 100%);
    background: -moz-linear-gradient(135deg, rgb(249, 180, 15) 43%, rgb(219, 232, 223) 100%);
    background: linear-gradient(135deg, rgb(249, 180, 15) 43%, rgb(219, 232, 223) 100%);
}

.movie-card :hover{
    cursor: pointer;
    box-shadow: rgba(130, 154, 115, 0.8) 10px 10px 50px;
}
